





{%block content%}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="section-heading">Project in progress</h2>
                <br>
                <br>
                
                <p class="content404">We will upload soon! Thanks for your understanding</p>
                <a class="link404" href="/" style="color: red; text-decoration: underline;">Come back!!!!</a>
                
                </div>
                <hr>
                
            </div>
        </div>
    </article>

    <hr>


    {%endblock%}