{% extends "base.html" %}

{%block title%} Cherif CV {%endblock%}

{%block content%}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My resume</h1>
                        <hr class="small">
                        <!-- <span class="subheading">Software and AI engineer</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container  myresume-container">

        <div class="row">
            <h1>Nousradine Cherif Hassan</h1>
            <span><a href="https://www.linkedin.com/in/cherif-hassan-nousradine-b20b701b1/">linkedin</a></span>
            <span> | </span><span>0033774932394</span>
            <span> | </span><span>nousradinecherifhassane@gmail.com</span>
            <span> | </span><span><a href="https://github.com/borkounou">github</a></span> 

        </div>
        <hr>

        <div class="cv-sections skills-section">
            <h1 class="cv-headers">skills</h1>
            <ul>
                <li>Python | Fastapi | Flask | JavaScript |DJango | C++ | Flutter| MongoDB| PostgresQL | Node | Express | Bootstrap | Flutter | jQuery | NoSQL | Git</li>
                <li>Linux | CI/CD | Bash Script| Bootstrap| Docker |Singularity|OOP | Mobile app Development | Machine Learning | Deep learning | NLP</li>
                <li>Microservices | Distributed Systems | Frontend | Backend | Full-Stack | English, French - <i>All professional proficiency or above</i></li>
            </ul>
        </div>
        <hr>

        <div class="cv-sections experiences-section">
            <h1 class="cv-headers">Experiences</h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6"><strong>Software Engineer</strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>Loria</Strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><i>Nancy, Grand Est, France</i></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>05/2023 - Current</Strong></div>
            </div>

            <ul>
                <li>Created a website UI for a project based on morphological analogies using Javascript, Bootstrap, CSS, Jquery, HTML</li>
                <li> Integrated various visibility elements into the site, including project presentations, publications, datasets, benchmarks, leaderboard, and code.</li>
                <li> Designed and Implemented scalable APIs and background workers for managing and executing deep learning models of analogies using Python, Fastapi  to demonstrate the use of analogies models. </li>
                <li>Established seamless integration between the platform and the website for datasets and with a cluster (High performance Computation) for demo calculations.</li>
                <li>Collaborated with consortium members, guiding them in adopting this framework for their demos.</li>
                <li>Effectively adapted and integrated demos provided by consortium members into the project website as web services.</li>
                <li>Led the development of several products, from identifying system requirements and partner dependencies to workload balancing, software implementation, testing, and configuring metrics, alarms, monitors, and dashboards.</li>
                <li>Developed and proposed a framework to project members to facilitate the integration of their demonstrations into the website.</li>
                <li>Ensured regular updates of both static and web service contents on the platform. Provided clear communication and assistance to consortium members, explaining processes and offering ongoing support when necessary.</li>
                <li>Continuous Integration/Deployment Pipeline Integration, pull requests, code reviews.</li>
                <li> Maintained consistent reporting to WP2 and project leaders, ensuring project activities were well-documented and monitored</li>
                
            </ul>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6"><strong>Adjunct Professor in CS</strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>Lorraine University</Strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><i>Nancy, Grand Est, France</i></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>09/2023- Current</Strong></div>
            </div>

            <ul>
               
                <li> Demonstrated expertise in version control systems and Git, equipping students with essential skills for modern software development.</li>
                <li>Conducted a web development course covering HTML, advanced CSS, and JavaScript.</li>
                <li>Assigned and supervised project work for third-year Bachelor of Science students.</li>
                <li>Exhibited strong mentoring and project management skills by guiding students through hands-on projects, ensuring practical application of their knowledge.</li>
            </ul>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6"><strong>Artificial Intelligence apprentice</strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>Enedis</Strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><i>Marseille, France</i></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>09/2021 - 08/2022</Strong></div>
            </div>

            <ul>
                <li>Led the development of a state-of-the-art text generation model for automatic response proposals. Leveraged deep learning frameworks, particularly 
                    PyTorch, to build and train the model, ensuring high-quality responses</li>
                <li><strong>Natural Language Processing (NLP):</strong> Applied advanced NLP techniques, including the utilization of Transformers such as BERT, to accurately classify 
                    incoming requests as either valid or invalid. Employed cutting-edge algorithms to enhance the accuracy of the classification process</li>
                <li><strong>Request Classification System:</strong> Engineered a robust request classification system based on nearest neighbors. Implemented the Approximate Similarity 
                    Matching Algorithm (Annoy) to efficiently identify the most relevant requests for further processing</li>
                <li><strong>Web Services Development:</strong> Developed user-friendly web services using the Flask framework to seamlessly integrate the text generation model and request 
                    classification system into the existing infrastructure</li>
                <li><strong>Data Management:</strong> Utilized PostgreSQL and MongoDB to efficiently store and retrieve data, ensuring optimal performance and scalability of the system. 
                    Implemented data pipelines and database queries for streamlined data access
                    </li>
                <li><strong>Data Science and Exploration:</strong> Conducted in-depth data processing and exploration using cutting-edge data science techniques. Employed Python libraries 
                    for data analysis, visualization, and feature engineering, contributing to data-driven insights and improvements.</li>
            </ul>


            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6"><strong>Artificial Intelligence Intern</strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>Enedis</Strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><i>Marseille, France</i></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>06/2021 - 09/2021</Strong></div>
            </div>

            <ul>
                <li><strong>Text Classification:</strong> Conducted text classification tasks with a focus on addressing class imbalance challenges.</li>
                <li><strong>Model Deployment:</strong> Played a pivotal role in the development and deployment of machine learning models into production environments</li>
                <li><strong>Data Labeling:</strong> Managed the labeling process for training and validation datasets, ensuring data quality and consistency.</li>
            </ul>






        </div>

        <hr>

        <div class="cv-sections eduction-section">
            <h1 class="cv-headers">Education</h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6"><strong>Master of science</strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>Avignon University</Strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><i>Avignon, France</i></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>09/2020 - 01/2023</Strong></div>
            </div>
            <ul>
                <li><i>Major in Artificial Intelligence and Software Engineering</i></li>
            </ul>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6"><strong>Bachelor of science</strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>Christ University</Strong></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><i>Bangalore, India</i></div>
                <div class="col-lg-3 col-md-3 col-sm-6"><Strong>05/2017 - 07/2020</Strong></div>
            </div>
            <ul>
                <li><i> Major in Computer Science Mathematics and Electronics</i></li>
            </ul>

        </div>

        <hr>

        <div class="cv-sections projects-section">
            <h1 class="cv-headers">Projects</h1>

            <ul>
               <li>Mobile App Development: Designed and developed a mobile app with image recognition for wine vintage information using Flutter, NodeJS …</li> 
                <li>Quixo game: Designed a Quixo game with AI and with design pattern techniques using Python and Design pattern techniques</li>
            </ul>


        </div>

        <hr>
        

    </div>




{%endblock%}