{% extends "base.html" %}

{%block title%} Post {%endblock%}

{%block content%}

    <header class="intro-header" style="background-image: url({{url_for('static', path='img/post-bg.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Main posts and projects</h1>
                        <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>

        <div class="container">

            <div class="row g-3">
                {% for post in posts%}
                <div class="col-12-small col-6 col-6-medium col-lg-6 col">
                    <a href="{{url_for('single', id=post.id)}}">
                        <div class="card">
                        
                            <img id="post-img" class="card-img-top card-img" src="{{url_for('static', path='img/post-sample-image.jpg')}}">
                            <div class="card-body">
                                <a href="{{url_for('single', id=post.id)}}" class="card-title-link"><h3 class="card-title">{{post.title}}</h3></a>
                            
                                <p id="cardText" class="card-text"><a href="{{url_for('single', id=post.id)}}">{{post.subtitle | safe}}</a></p>
                            </div>
                        </div>
                     </a>
                </div>
            
                {%endfor%}
            </div>


    </article>

    <hr>


    {%endblock%}

