<div class="container">

    <div class="accordion" id="frenchSentimentAnalysis">

        <div class="accordion-item">
            <h1 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#introduction" aria-expanded="true" aria-controls="introduction" style="background-color:#7C81AD;">
                   Introduction
                </button>
            </h1>
            <div id="introduction" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#frenchSentimentAnalysis">
                <div class="accordion-body">
                 
                    <p>In this article, we will embark on an extensive project involving deep learning and web development. Our objective is to build a model capable of categorizing French movie reviews into classes (true or false) if the review is Positive or Negative. Following the model's training, we will integrate it into a user-friendly interface (UI) and guide you through its real-world implementation.</p>
                
                    <p>Our approach involves creating a straightforward website where users can input sentence and determine it respective category. We will demonstrate how to adapt the code to accommodate various dataset formats and models. To train the model, we will leverage Python libraries and packages such as PyTorch and NumPy.</p>
                
                    <p>For the backend, we will utilize FastAPI to create APIs, while HTML, CSS, Bootstrap, JavaScript, and jQuery will be employed for the UI development. As a comprehensive project, we will also incorporate DevOps tools like Git, Docker, and GitHub.</p>
                
                    <p>In the final stages, we will provide instructions on deploying this website on Heroku.</p>
                </div>

            </div>
        </div>

    </div>

</div>







<!-- <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#introduction" aria-expanded="true" aria-controls="introduction" style="background-color:#7C81AD;">
           Introduction
        </button>
    </h2>
    <div id="introduction" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#aboutTeam">
        <div class="accordion-body">
        
        </div>

    </div>
</div> -->