
{% extends "base.html" %}

{%block title%} Side {%endblock%}

{%block content%}
<div class="container docs-container">
    <div class="row flex-nowrap">

        <div class="bg-dark col-auto col-md-2 min-vh-100" id="sideBarFirst">
            <div class="p-2" id="sideBarSecond">
                <a class="d-flex text-decoration-none mt-1 align-items-center text-white" href="">
                <span class="fs-4 d-none d-sm-inline">Get started</span>
                </a>
                <ul class="nav nav-pills flex-column mt-2">
                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                       Analogy Introduction
                        </a>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                      Download 
                        </a>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                    Installation
                        </a>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                   Learning analogy
                        </a>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                   Download models
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="row">        
        <div class="col-auto col-md-12">
            <div class="row">

                <div class="col-auto col-md-6 col-sm-12 docs-main">
                    <h2 class="docs-title">Title of content 1</h2>
                    <p class="docs-content">
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.

                    </p>
                </div>

                
                <div class="col-auto col-md-6 col-sm-12">
                    <h2 class="docs-title">Title of content 1</h2>
                    <p class="docs-content">
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.

                    </p>
                    <h2 class="docs-title">Title of content 1</h2>
                    <p class="docs-content">
                        To use this online demo, select a language and enter four words of the language in the boxes A,B, C and D. 
                        If you do not know the language or you want an example, click on 'Prepare an example for me.' to automatically fill the boxes with randomly selected words.

                    </p>
                </div>

                
                
           
            </div>
          </div>


          
           
          </div>
        </div>
    </div>


    
{%endblock%}