{% extends "base.html" %}

{%block title%} Tutorial {%endblock%}

{%block content%}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Tutorials</h1>
                        <hr class="small">
                        <!-- <span class="subheading">Software and AI engineer</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container tutorial-container">
        <h1>Git tutorial</h1>
        <div id="pdfViewer"></div>

    </div>


{%endblock%}