{% extends "base.html" %}


{%block content%}

<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>My Projects</h1>
                    <hr class="small">
                    <!-- <span class="subheading">Software and AI engineer</span> -->
                </div>
            </div>
        </div>
    </div>
</header>

    <!-- Post Content -->
    <article>

        <div class="container">

            <div class="row g-3">
                {% for post in posts%}
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <a href="{{https_url_for(request,'single', id=post.id)}}">
                        <div class="card">
                        
                            <img id="post-img" class="card-img-top card-img" src='{{https_url_for(request,"static", path=post.img)}}'>
                            <div class="card-body">
                                <a href="{{https_url_for(request,'single', id=post.id)}}" class="card-title-link"><h3 class="card-title">{{post.title}}</h3></a>
                            
                                <p id="cardText" class="card-text"><a href="{{https_url_for(request,'single', id=post.id)}}">{{post.subtitle | safe}}</a></p>
                            </div>
                        </div>
                     </a>
                </div>
            
                {%endfor%}
            </div>


    </article>

    <hr>


    {%endblock%}

