{% extends "base.html" %}


{%block content%}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Tutorials</h1>
                        <hr class="small">
                        <!-- <span class="subheading">Software and AI engineer</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>


    

<!-- Post Content -->
<article>
    <br>
    <br>
    <div class="container">
        <div class="row">
    
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="section-heading">Work in progress</h2>
            <br>
            <br>
            
            <p class="content404">I will upload soon! Thanks for your understanding</p>
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
            <!-- <a class="link404" href="/" style="color: red; text-decoration: underline;">Come back!!!!</a> -->
            <a href="/" class="btn btn-light btn-lg showcase-btn" style="color:rgb(226, 79, 11)">GO BACK</a>
            
            </div>
    
            
        </div>
    </div>
</article>

<hr>



{%endblock%}